asgiref==3.8.1
certifi==2024.12.14
distlib==0.3.8
Django==4.2.30
filelock==3.20.4
platformdirs==4.2.2
sqlparse==0.5.5
django-rest-framework==3.9.1
moment==0.12.1
httplib2==0.19.1
cryptography==48.0.1
passeo==1.0.5
ecdsa==0.19.2
requests==2.33.1
pyotp==2.9.0
