asgiref==3.8.1
certifi==2024.7.4
distlib==0.3.8
Django==5.2.16
filelock==3.20.3
platformdirs==4.2.2
sqlparse==0.5.5
djangorestframework==3.15.2
moment==0.12.1
httplib2==0.22.0
cryptography==48.0.1
passeo==1.0.5
requests==2.33.0
pyotp==2.9.0
idna==3.15
